# READ CSV

In [5]:
import pandas as pd
csv = pd.read_csv('./interaction.csv')

                twittos_a interaction            twittos_b
0               500989115     retweet   744306004582612992
1               500989115    converse  1213783872099373057
2     1238416716817936386      follow            500989115
3     1235282853409280000      follow            500989115
4               500989115      follow  1213783872099373057
...                   ...         ...                  ...
2540  1220678761126875138      follow           2853806083
2541  1220678761126875138      follow  1137307990300643328
2542  1220678761126875138      follow            636273090
2543  1220678761126875138      follow  1169115284118147072
2544  1220678761126875138      follow   871662922853892097

[2545 rows x 3 columns]

# clear data

In [ ]:
twitter_interaction = csv.drop(columns=["_index","_type","_id","_score","_source.id","_source.source"])
twitter_interaction = twitter_interaction.rename(columns={"_source.twittos_a":"twittos_a","_source.interaction":"interaction","_source.twittos_b":"twittos_b"}) 
twitter_interaction